*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: century;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}
#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    display: flex;
    justify-content: center;
}

.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(7n){
    border-bottom: none;
}
.box:nth-child(8n){
    border-bottom: none;
}
.box:nth-child(9n){
    border-bottom: none;
}
#restartBtn{
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    transition: 200ms transform;
    font-weight: 600;
}
#restartBtn:hover{
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
#fin{
    width: 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 800;
    border: 2px solid #fff;
    text-align: center;
    align-items: center;
    display: none;
}